<div class="row about-container">
  <h2>Chongalations</h2>
  <div class="origins">
    <p class='center'>
      Chongalations are revered quotes from the Chonglers community. They are generally something that was said and rememberd with reverence. In order to preserve them, they are stored here as a token to the often crass and unusual behavior of the guild members.
    </p>
  </div>

  <div class="quote-container">
    <p class='quote'>"A dollar a pickle is probably a really good pickle"</p>
    <p class="sig">Wemstoid &#128588 &#128591</p>
  </div>

  <div class="quote-container">
    <p class='quote'>"I like it big."</p>
    <p class="sig">-Yuna, while staring lustily at Hodir. &#128588 &#128591</p>
  </div>

  <div class="quote-container">
    <p class='quote'>"I'm expanding on the cook"</p>
    <p class="sig">- Poppineddies &#128588 &#128591</p>
  </div>  

  



</div>