<div class="row about-container">

  <h2>Hold up... what exactly is a Chongler?</h2>

  <div class="photo-container">
    <%= image_tag("killidan.jpg") %>
    <p class='caption'>The Chonglers pose after trampling the corpse of Illidan Stormrage.</p>
  </div>

  <div class="origins">
    <p class='center'>We are a guild of World of Warcraft TBC players who simply love playing the game. We regularly clear current-tier raids, participate in PvP content, host GDKP runs, farm for 'drip' sets and mounts, and work to optimize our play on a regular basis.</p>

    <p class='center'>As for an actual definition...</p>

    <p>The definition of a Chongler is a question as old as time itself and is a point of contention among the most senior members of the guild. Legends tell of a sundering when an ex-member attempted to rend the group of adventurers apart. In the wake of their selfishness and conceit rose a coalition of pumpers, memers, and good friends to evoke and hone their respective proficiencies in the landscape of Outlands. By this definition, a Chongler may be a holdover from a political clash and one who strives to continue with their quest despite setbacks.</p>

    <p>Another possibility is that the name originated from a prophetic moment of clarity around the time that Onyxia held sovereignty over Dustwallow Marsh and Nefarian intimidated the population of the Eastern Kingdoms from Blackwing Lair. It is speculated that a sacramental herb was involved with this revelation, but it is impossible to know for certain. This definition is aligned with the belief that the name is sacred by nature, so a Chongler may be a descriptor for foresight, divine inspiration, and naturalistic wisdom.</p>

    <p>There is always the possibility that it’s a nonsense word or contextual - something that is used in a particular fashion to portray multitudes of meaning. It has been known to be used as a verb -  generally in the form of “chongling”. The phrase “to Chongle” has been seen in contexts where it is implied that surreptitious hijinks, parsing 99’s, or wiping the raid by pulling threat could all pose much-needed context to the question at hand. By this definition, a Chongler is whatever the speaker makes of it at the time of utterance with hopes that the implied context will be enough to elicit a laugh, a triumphant roar, or maybe even a glance at the threat meters.</p>    
  </div>

</div>