/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header{

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-shadow: 0px 2px 3px #00000047;

  .title{
    a{
      text-decoration: none;
      color: black;
    }
    font-family: 'Bebas Neue', cursive;
    font-size: 60px;
    padding-top: 30px;
    padding-bottom: 0;
    line-height: 38px;
    text-shadow: 2px 2px 4px #00000063;
  }

  .subtitle{
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
  }

  .header-cards{
    a{
      &:hover{
        opacity: 0.5;
        transition: 0.2s;
      }
      text-decoration: none;
      color: black;
    }

    h5{
      width: 17%;
      text-align: center;
      font-size: 22px;
      font-family: 'Bebas Neue', cursive;
    }
  }
}

.single-spacing{
  margin-bottom: 20px;
}

.about-container{

  .photo-container{

    padding: 5px;
    background-color: #f0f0f0;
    border-radius: 3px;

    .caption{
      font-size: 12px;
      font-style: italic;
      text-align: center;
      line-height: 20px;
      margin-bottom: 0 !important;
      margin-top: 12px;
      padding: 0 10%;
    }

    img{
      width: 100%;
      height: 90%;
      object-fit: cover;
      overflow: hidden;
    }
  }

  .center{
    text-align: center;
    font-weight: 800;
    font-style: italic;
  }

  width: 60%;
  margin: 50px 20%;

  h2{
    font-size: 36px;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    margin-bottom: 40px;
  }

  .origins{

    margin-top: 40px;

    p{
      font-size: 16px;
      // font-family: 'Bebas Neue', cursive;
      margin-bottom: 30px;
    }
  }
}

footer{
  padding: 50px 10px;
  background-color: #eaeaea;
  box-shadow: 0px 6px 12px black;

  .discord-link{
    flex-direction: column;

    .disc-tagline{
      font-family: 'Bebas Neue', cursive;
      width: 100%;
      text-align: center;
      font-size: 25px;
    }

    img{
      height: 80px;
    }

  }
}
